
<form action="" method="POST" class="form-basic">

    {{#each inputProperties}}
    <div class="input-field col">
        <input name="{{this.name}}" id="{{this.id}}" type="{{this.type}}" value="{{this.value}}" class="validate {{#if (propertyHasError this)}} invalid {{else}} valid {{/if}}" >
        <label for="{{this.id}}">{{this.displayString}}</label>
        {{#if (propertyHasError this) }}
            {{#each (getPropertyErrors this)}}
                <span class="helper-text" data-error="{{this}}"></span>
            {{/each}}
        {{/if}}
    </div>
    {{/each}}

    <button class='btn-small' type="submit">Submit</button>
</form>