
<form action="" method="POST" class="form-basic">

    {{#each inputFields}}
    <div class="input-field col">
        <input name="{{this.name}}" id="{{this.id}}" type="{{this.type}}" value="{{this.value}}" class="validate {{#if (this.hasError)}} invalid {{else}} valid {{/if}}" >
        <label for="{{this.id}}">{{this.displayName}}</label>
        {{#if (this.hasError)}}
            {{#each (this.errors)}}
                <span class="helper-text" data-error="{{this}}"></span>
            {{/each}}
        {{/if}}
    </div>
    {{/each}}

    <button class='btn-small' type="submit">Submit</button>
</form>